<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


    <script src="~/Scripts/modernizr-2.8.3.js"></script>


    @RenderSection("styles", false)
</head>
<body>
    <div id="navBar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" data-toggle="collapse" data-target=".navbar-collapse">
                <!-- -->
                <button id="navbar-toggle-btn hidden" type="button" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a src="/Home/Index" class="navbar-brand">Home Solution</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav-list nav navbar-nav pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="~/Paquete/Index">Paquetes</a></li>
                    @if (Session["LoggedIn"] != null && (string)Session["UserRol"] == Dominio.User.ROL_OPERADOR)
                    {
                        <li class="nav-item"> <a class="nav-link" href="~/Compra/Index">Compras</a></li>
                        <li class="nav-item"> <a class="nav-link" href="~/User/Listado">Clientes</a></li>
                    }
                    @if (Session["LoggedIn"] != null && (string)Session["UserRol"] == Dominio.User.ROL_CLIENTE)
                    {
                        <li class="nav-item"> <a class="nav-link" href="~/Compra/misCompras">Mis Compras</a></li>
                    }
                    @if (Session["LoggedIn"] == null || !(bool)Session["LoggedIn"])
                    {
                        <li class="nav-item"> <a class="nav-link" href="~/Login/Index">Login</a></li>
                    }
                    @if (Session["LoggedIn"] != null && (bool)Session["LoggedIn"])
                    {
                        <li class="nav-item"><a class="nav-link" href="~/Canal/Index">Canales</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">@Session["UserName"]</a></li>
                        <li class="nav-item"> <a class="nav-link" href="~/Login/LogOut">Log-Out</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
    <script>
var loggedIn = '@Session["LoggedIn"]' == 'True';
console.log(loggedIn);
    </script>
</body>
</html>