@using Dominio
@{
    ViewBag.Title = "Index";
}

<h2>Paquetes</h2>



@if (Session["LoggedIn"] != null && (string)Session["UserRol"] == Dominio.User.ROL_OPERADOR)
{
    <div><h3><strong>Estadisticas</strong></h3></div>
    <section>
        <h3>Busca paquete mayor precio</h3>
        <input type="number" id="paquetePrecio" />
        <button id="btnBuscar">Buscar</button>
    </section>

    <section>
        <h3>Busca por nombre de canal</h3>
        <input type="text" id="nombreCanal" />
        <button id="btnBuscar1">Buscar</button>
    </section>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del paquete</th>
            <th scope="col">Promocion</th>
            <th scope="col">Precio Base</th>
            <th scope="col">Canales</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Paquete item in ViewBag.paquetes)
        {
            <tr>
                <th scope="row"></th>
                <td>@item.Nombre</td>
                <td>@item.Promocion </td>
                <td>@item.PrecioBase</td>
                <td>@item.GetCanales()</td>
                <td><div id="divBotones"><a href="/Paquete/PaqueteDetalle?NombrePaquete=@item.Nombre" class="btn btn-info" role="button" id="botonCarrito">Comprar</a></div></td>
            </tr>
        }
    </tbody>

</table>


@section scripts {
    <script>
        var loggedIn = '@Session["LoggedIn"]' == 'True';
        if (loggedIn) {
            $("navBar").show();
        }
        else {
            $("navBar").hide();
            location = "/Login/Index";
        }

        //BUSCAR PAQUETE MAYOR PRECIO
        let btnBuscar = document.getElementById("btnBuscar");
        let paquetePrecio = document.getElementById("paquetePrecio");

        btnBuscar.addEventListener('click', () => {
            let url = "/paquete/MayorPrecio?paquetePrecio=" + paquetePrecio.value;
            location = url;
        })
        // Parte de filtrado  de paquete segun canal
        //BUSCAR CANAL EN PAQUETE

        let nombreCanal = document.getElementById("nombreCanal");

        document.getElementById("btnBuscar1").addEventListener('click', () => {
            let url = "/paquete/CanalesEnPaquete?nombreCanal=" + nombreCanal.value;
            location = url;
        })


    </script>
}