@model Dominio.User

@{
    ViewBag.Title = "Registrar";
}

<h2>Registrar</h2>

<section>
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <div class="text-danger">
            <h3>* @ViewBag.ErrorMessage *</h3>
        </div>
    }

    @if (ViewBag.Message != null)
    {
        <div class="text-success">
            <h3>
                @ViewBag.Message
            </h3>
        </div>
    }
</section>

<form action="/User/Registrar">

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />


        <div class="form-group">
            <label class="control-label col-md-2">Cedula</label>
            <div class="col-md-10">
                <input type="text" id="cedula" class="form-control" value="@Model.Cedula" name="Cedula" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Rol</label>

            <div class="col-md-10">
                <select id="rolSelect" class="form-control" name="Rol" required>
                    <option value="@Model.GetRolCliente()" selected>Cliente</option>
                    <option value="@Model.GetRolOperador()">Operador</option>
                </select>
            </div>
        </div>

        <div class="form-group" id="sectionNombre">
            <label class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                <input type="text" id="nombre" class="form-control" value="@Model.Nombre" name="Nombre" required/>
            </div>
        </div>

        <div class="form-group" id="sectionApellido">
            <label class="control-label col-md-2">Apellido</label>
            <div class="col-md-10">
                <input type="text" id="apellido" class="form-control" value="@Model.Apellido" name="Apellido" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="password" id="password" class="form-control" value="@Model.Password" name="Password" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>


</form>




<div>
    <a href="/Login/Index">Back to List</a>
</div>

@section scripts {
    <script>
        var rol = '@Model.Rol';
        var rolSeleccionado = '';
        if (rol != null && rol!='') {
            var select = document.getElementById('rolSelect');
            for (i = 0; i < select.options.length; i++) {
                if (select.options[i].value == rol) {
                    select.options[i].selected = true;
                    rolSeleccionado = rol;
                }
            }
        }
        manejarSeleccionRol(rolSeleccionado);
        document.getElementById('rolSelect').addEventListener('change', () => {
            //console.log(elem);
            var select = document.getElementById('rolSelect');
            var rolSeleccionado = select.value;
            manejarSeleccionRol(rolSeleccionado);

        });

        function manejarSeleccionRol(rolSeleccionado) {
             if (rolSeleccionado != '') {
                if (rolSeleccionado == '@Dominio.User.ROL_OPERADOR') {
                    usuarioOperador();
                }
                else {
                    usuarioNoOperador();
                }

            }
        }

        function usuarioOperador() {
            document.getElementById('cedula').setAttribute('disabled', 'disabled');
            document.getElementById('apellido').setAttribute('disabled', 'disabled');
        }

        function usuarioNoOperador() {
            try {
                document.getElementById('cedula').removeAttribute('disabled');
                document.getElementById('apellido').removeAttribute('disabled');
            }
            catch (e) { }
        }

    </script>
}

@section styles {
        <style>
            section {
               padding:4px;
            }
        </style>
}